*{
border: 0;
padding: 0;
box-sizing: border-box;}

/* stile font paggina */
* {
   font-family:Helvetica, Arial, sans-serif;
}



/* default bottoni*/

button{
    all: unset;
}

/* testo */
h5{
    font-size: 22px;
}
h2{
    font-size: 50px;
}
.p-head{
    font-size: 26px;
}
p{
    font-size: 20px;
    
}
button{
    font-size: 16px;
    font-weight: bold
 ;}
/*allineamento*/
.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

ul{
    list-style: none;
}


/* dimensione */
.contenitore {
    width: 1100px;
    margin: 0 auto;
   
    text-align: center;
    
}
.contenitore-piccolo{
    width: 900px;
    margin: 0 auto;
    
    text-align: center;
}

/*padding */
li{
    padding: 10px;
}
.pd50{
    padding: 50px 0;

}
.pd10{
    padding: 10px 0;

}
.pdt-05{
    padding-top: 10px;
}
.pdb-15{
    padding-bottom: 20px;
}

/*colore testo */
.testo-bianco {
    color: #ffffff;
}
.testo-celeste{
    color: #7288da;
}


/* sfondi */


header{
background-image: url(../img/jumbo.png) ;
background-repeat: no-repeat;
background-size: 100%;
}

.bg-foto{
    background-image: url(../img/stars.svg) ;
    background-repeat: no-repeat;
    background-size: 100%;
    }

.bg-celeste{
    background-color: #7288da;
}
.bg-blu{
    background-color: #00008b;
}

.bg-arancione{
    background-color: #daa520;
}

.bg-arancione{
    background-color: #daa520;
}
.bg-viola{
    background-color: #ee82ee;
}

.bg-azzurro{
    background-color: #1e90ff;
}

.bg-rosa{
    background-color: #ffc0cb;
}

.bg-griggio{
    background-color: #d3d3d3;
}

.bg-nero {
    background-color: #23272a;
}

.bg-rosa-chiaro{
    background-color: #f08080;
}
.bg-verde{
    background-color: #228b22 ;
}
.bg-acqua{
    background-color: #20b2aa;
}
.bg-marina{
    background-color: #7fffd4;
}
.bg-bianco{
    background-color: #ffffff;
}


.bg-bedje{
    background-color: #f6f6f6;
}


/*bordo */
/*
hr{
    height: 2px;
}
.bordo{
    border: dotted black;
}
.bordo-bianco{
    border: dotted white;
}
*/
.bordo-basso{
    border-bottom: 2px solid #7288da ;
}

/*flex*/

    .flex{

    display: flex;

       }

     .flex-reverse  {
        flex-direction: row-reverse;
     }
     .justify{
        justify-content: space-between;
     }
     .text-al{
        align-items: center;
     }

    
     
 /* largezza*/

.wh360{
    width: 360px;
}

.wh25{
    width: 25%;

}

.wh40{
    width: 40%;
}
.wh50{
    width: 50%;

}

.wh60{
    width: 65%;
}


.bottone{

    border: none;
    border-radius: 30px;
    padding: 15px;
}

